/* CSS for 1-100 hardcoded */
li:nth-child(3n) div {
  display: none;
}
li:nth-child(5n) div {
  display: none;
}
.hide {
  display: none;
}
li:nth-child(3n)::after {
  background-color: #ddd;
  content: "fizz";
}
li:nth-child(5n)::after {
  color: #ff0000;
  content: "buzz";
}
li:nth-child(15n)::after {
  color: #ff0000;
  background-color: #ddd;
  content: "fizz buzz";
}
ol {
  list-style-type: none;
  width: 10%;
  text-align: center;
}
